.vscode/
data/
trash/
experiments/trained/
images/
venv/
training/build
training/**/*egg*/**
training/**/*pycache*/**
inferencing/build
inferencing/**/*egg*/**
inferencing/**/*pycache*/**
containers/rpi/usr/lib/libedgetpu*
